{% set OG_IMAGE = "http://lh6.googleusercontent.com/-_30QEfBiX_c/V4jDdy6klfI/AAAAAAAACjY/sk0jUePFaGQdcmCqJ-A6reZOQvDfLxVvwCJkC/s960/photo.jpg" %}
{% extends "layout/layout.html" %}
{% block content %}
{% include "layout/includes/list_articles.html" %}

<section class="section">
  <div class="container">

<div class="card">
  <div class="card-image">
    <figure class="image is-3by2">
      <img src="http://lh4.googleusercontent.com/-PL6FZN_XH-8/UxR8pLyGGAI/AAAAAAAACTg/KhII5v4-NoYWTzuZW_BEu4yyLEBhqGB6ACJkC/s0/photo.jpg">
    </figure>
  </div>
  <div class="card-content">
    <div class="content">
      หลวงพ่อบุญชู ฐิตคุโณ - เจ้าอาวาส วัดป่าโพธิญาณ
    </div>
  </div>
</div>

<br>

<div class="card">
  <div class="card-image">
    <figure class="image is-16by9">
      <img src="http://lh6.googleusercontent.com/-_30QEfBiX_c/V4jDdy6klfI/AAAAAAAACjY/sk0jUePFaGQdcmCqJ-A6reZOQvDfLxVvwCJkC/s960/photo.jpg">
<!--
      <img src="http://lh6.googleusercontent.com/-_30QEfBiX_c/V4jDdy6klfI/AAAAAAAACjY/sk0jUePFaGQdcmCqJ-A6reZOQvDfLxVvwCJkC/s0/photo.jpg">
-->
    </figure>
  </div>
  <div class="card-content">
    <div class="content">
      ศาลา
    </div>
  </div>
</div>

<br>

<div class="google-maps">
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15403.525007372726!2d105.4270337!3d15.1648648!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xfe18c74d9fd44fd5!2sWat+Pa+Phothiyan!5e0!3m2!1sen!2stw!4v1487781323266" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>

<br>

<div style="position:relative;height:0;padding-bottom:56.25%"><iframe src="https://www.youtube.com/embed/I7n9WPuolds?ecver=2" width="640" height="360" frameborder="0" style="position:absolute;width:100%;height:100%;left:0" allowfullscreen></iframe></div>

<br>

<div style="position:relative;height:0;padding-bottom:75.0%"><iframe src="https://www.youtube.com/embed/ud5K3Ro4NuI?ecver=2" width="480" height="360" frameborder="0" style="position:absolute;width:100%;height:100%;left:0" allowfullscreen></iframe></div>

<br>

<div style="position:relative;height:0;padding-bottom:75.0%"><iframe src="https://www.youtube.com/embed/UOTKWp-5bKI?ecver=2" width="480" height="360" frameborder="0" style="position:absolute;width:100%;height:100%;left:0" allowfullscreen></iframe></div>

<br>

<div class="youtube-16x9">
<iframe width="560" height="315" src="https://www.youtube.com/embed/PFeoxSl5_ss" frameborder="0" allowfullscreen></iframe>
</div>

  </div>
</section>

{% endblock %}
